In [21]:
import pandas as pd
import geopandas as gpd

%matplotlib inline
%config InlineBackend.figure_format='retina'

load in the opportunity insights + geo
load in the housing data
pct of units without tract, pct of projects without units
merge on tract? or merge on contains: [spatial join](https://geopandas.org/reference/geopandas.sjoin.html)
make sure every project with tract information is in a tract!

# Load in Opportunity Atlas data

In [22]:
opatlas_ny = gpd.read_file("/work/data/opatlas_ny.geojson")
opatlas_ny.head()

,geoid,household_income,ranking,geometry
0,36047080800,72670.0,very high,"MULTIPOLYGON (((-73.93686 40.65794, -73.93633 ..."
1,36081114100,71410.0,very high,"MULTIPOLYGON (((-73.79566 40.77304, -73.79522 ..."
2,36047000301,65260.0,very high,"MULTIPOLYGON (((-73.99429 40.69854, -73.99460 ..."
3,36047004400,65049.0,very high,"MULTIPOLYGON (((-74.03316 40.63273, -74.03047 ..."
4,36081099705,64885.0,very high,"MULTIPOLYGON (((-73.76696 40.77990, -73.76689 ..."

# Load in [NYC Affordable Housing Data](https://data.cityofnewyork.us/api/views/hg8x-zxpr/rows.csv?accessType=DOWNLOAD)

In [23]:
url = "https://data.cityofnewyork.us/api/views/hg8x-zxpr/rows.csv?accessType=DOWNLOAD"

nyc_housing = pd.read_csv(url)

print(nyc_housing.columns)
nyc_housing.head()

Index(['Project ID', 'Project Name', 'Program Group', 'Project Start Date',
       'Project Completion Date', 'Building ID', 'Number', 'Street', 'Borough',
       'Postcode', 'BBL', 'BIN', 'Community Board', 'Council District',
       'Census Tract', 'NTA - Neighborhood Tabulation Area', 'Latitude',
       'Longitude', 'Latitude (Internal)', 'Longitude (Internal)',
       'Building Completion Date', 'Reporting Construction Type',
       'Extended Affordability Only', 'Prevailing Wage Status',
       'Extremely Low Income Units', 'Very Low Income Units',
       'Low Income Units', 'Moderate Income Units', 'Middle Income Units',
       'Other Income Units', 'Studio Units', '1-BR Units', '2-BR Units',
       '3-BR Units', '4-BR Units', '5-BR Units', '6-BR+ Units',
       'Unknown-BR Units', 'Counted Rental Units',
       'Counted Homeownership Units', 'All Counted Units', 'Total Units'],
      dtype='object')

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
0,65503,LIC RAMPS,Multifamily Incentives Program,06/30/2020,NaN,991157.0,27-01,JACKSON AVENUE,Queens,11101.0,...,25,0,0,0,0,0,50,0,50,164
1,65503,LIC RAMPS,Multifamily Incentives Program,06/30/2020,NaN,991158.0,26-32,JACKSON AVENUE,Queens,11101.0,...,36,17,0,0,0,0,106,0,106,348
2,70016,1119 BROADWAY,Multifamily Incentives Program,06/30/2020,NaN,213679.0,1119,BROADWAY,Brooklyn,11221.0,...,0,0,0,0,0,0,3,0,3,10
3,70017,639 FOSTER AVENUE,Multifamily Incentives Program,06/30/2020,NaN,991282.0,639,FOSTER AVENUE,Brooklyn,11230.0,...,0,0,0,0,0,0,7,0,7,22
4,70018,THE STRAND,Multifamily Incentives Program,06/30/2020,NaN,699653.0,18-68,TROUTMAN STREET,Queens,11385.0,...,6,1,0,0,0,0,40,0,40,132

# How many units and projects are missing location data?

In [24]:
na_loc = nyc_housing['Longitude'].isna()

print(na_loc.value_counts() / len(na_loc) * 100)

False    78.114261
True     21.885739
Name: Longitude, dtype: float64

22% of projects do not have a tract id.

In [25]:
print(nyc_housing.loc[na_loc, "All Counted Units"].sum() / nyc_housing["All Counted Units"].sum() * 100)

nyc_housing = nyc_housing[~na_loc]

3.3003200676369344

3% of affordable units do not have a tract id.

# Merge with opportunity data

In [26]:
nyc_housing_geo = gpd.GeoDataFrame(nyc_housing, geometry=gpd.points_from_xy(nyc_housing.Longitude, nyc_housing.Latitude))

nyc_housing_geo.crs = opatlas_ny.crs

In [27]:
nyc_housing_geo = gpd.sjoin(nyc_housing_geo, opatlas_ny, how='left', op='within')
nyc_housing_geo.head()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,geometry,index_right,geoid,household_income,ranking
0,65503,LIC RAMPS,Multifamily Incentives Program,06/30/2020,NaN,991157.0,27-01,JACKSON AVENUE,Queens,11101.0,...,0,50,0,50,164,POINT (-73.94051 40.74779),1385.0,36081001900,31158.0,low
1,65503,LIC RAMPS,Multifamily Incentives Program,06/30/2020,NaN,991158.0,26-32,JACKSON AVENUE,Queens,11101.0,...,0,106,0,106,348,POINT (-73.94113 40.74755),1385.0,36081001900,31158.0,low
2,70016,1119 BROADWAY,Multifamily Incentives Program,06/30/2020,NaN,213679.0,1119,BROADWAY,Brooklyn,11221.0,...,0,3,0,3,10,POINT (-73.92949 40.69375),1154.0,36047039300,34151.0,moderate
3,70017,639 FOSTER AVENUE,Multifamily Incentives Program,06/30/2020,NaN,991282.0,639,FOSTER AVENUE,Brooklyn,11230.0,...,0,7,0,7,22,POINT (-73.97014 40.63068),674.0,36047048200,41874.0,high
4,70018,THE STRAND,Multifamily Incentives Program,06/30/2020,NaN,699653.0,18-68,TROUTMAN STREET,Queens,11385.0,...,0,40,0,40,132,POINT (-73.91818 40.71114),688.0,36081053900,41679.0,high

In [29]:
nyc_housing_geo.ranking.isna().value_counts()

False    3511
True      126
Name: ranking, dtype: int64

## Export

In [31]:
nyc_housing_geo.to_file("/work/data/affordable_units.geojson", driver='GeoJSON')